<!DOCTYPE html>
<html lang="en" class="myHtml">


<head>
    <meta charset="UTF-8">
    <title>Deneme 3</title>
	
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	
    <link rel="stylesheet" href="/css/style.css">
</head>


<body class="myBody">
	<div class="container-fluid bigProjectNameDiv">
	
	
		<div class="projectNameLocation">
		
			<span class="spanForPN" draggable="true">Project Name</span>
				
			<button class="addHeadingButton" onclick="addHeading()" draggable="true">+</button>
			
		</div>
	
	
	</div>
	
	<canvas class="straLineCanvas" id="straLineCanvas_id" width="500px" height="10px"></canvas>
	<br>
	<div class="divForDivisions" id="divForDivisions_id"></div>


	
	<script src="/js/app.js" ></script>
</body>
</html>